<div class="failBox {{#if showMsg}} {{else}}d-none{{/if}}" role="alert">
    {{msg}}
</div>

<div class="row">
    <div class="col">
        <form {{#if update}}id="update-form" name="update-form" method="post" action="/updatepost/{{postId}}"
                {{else if newThread}}id="post-form" name="post-form" method="post" action="/addthread/{{subId}}"
                {{else}}id="post-form" name="post-form" method="post" action="/addpost/{{threadId}}"
                {{/if}}>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="title">Thread Title: </label>
                <div class="col-6">
                    <input class="form-control" type="text" name="title" id="title" value="{{threadTitle}}" {{#if lockTitle}}readonly{{/if}}>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label" for="content">Content: </label>
                <div class="col-6">
                    <textarea class="form-control" name="content" id="content">{{content}}</textarea>
                </div>
            </div>

            <input type="hidden" id="locktitle" name="locktitle" value="{{#if lockTitle}}1{{else}}0{{/if}}"/>
            <input type="hidden" id="threadId" name="threadId" value="{{threadId}}"/>

            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">{{#if update}}Update{{else}}Post{{/if}}</button>
                </div>
            </div>

            <div id="postWarning" class="row alert alert-warning alert-dismissible d-none">
                Please fill in the highlighted field(s).
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </form>
    </div>
</div>
